<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map based metadata browsing</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='Projekt.png') }}">
</head>

<body>


    <h1>Find your similar record!</h1>
    <h3>Please locate yourselve or click on the map where you want to find records!</h3>

    <h2 id="info">Start</h2>
    <button id="bounds" class="button">Get Geodata in viewport</button>
    <div id="map"></div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>
